@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700;800&family=Ubuntu&display=swap');

@layer base {
    @font-face {
      font-family: 'Gabarito', 'Ubuntu', sans-serif;
      src: url(https://fonts.googleapis.com) format("truetype");
    }
    body {
      font-family: 'Unbuntu', sans-serif;
    }
    .site-heading {
      @apply bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800;
    }
    .site-heading-container {
      @apply flex flex-wrap items-center justify-between max-w-screen-xl mx-auto;
    }
   .site-branding {
      @apply flex items-center justify-center font-[900] uppercase
    }
    main p a{
      @apply text-blue-600 underline hover:text-indigo-400;
    }
    main a {
      @apply text-blue-600 underline hover:text-indigo-400;
    }  
    h1,h2,h3,h4,h5,h6 {
      @apply text-indigo-900;
      font-family: 'Gabrito', sans-serif;
    }
    h1 {
      @apply mb-5 text-4xl text-indigo-900 md:text-6xl lg:text-7xl;
    }
    h2 {
      @apply mt-10 mb-5 text-3xl md:text-4xl lg:text-5xl;
    }
    h3 {
      @apply mb-5 text-3xl md:text-4xl;
    }
    h4 {
      @apply mb-5 text-2xl md:text-3xl lg:text-4xl;
    }
    h5 {
      @apply mb-5 text-3xl lg:text-4xl;
    }
    h6 {
      @apply mb-5 text-3xl lg:text-4xl;
    }  
    p {
      @apply mb-5 text-lg leading-relaxed font-extralight text-slate-600;
    }
    .entry-content ul li, ol li {
      @apply mb-5 list-outside list-decimal
    }
   .entry-content form input, textarea {
    @apply mb-5 w-full
   }
   .entry-content form input[type=text], input[type=email], input[type=phone], input[type=url], input[type=tel] {
      @apply border-0 border-b-2 border-gray-200
   }
  .entry-content form input[type=submit] {
      @apply text-white bg-indigo-950 hover:bg-indigo-700 button mr-[1.5rem] mt-5
  }
  .entry-content form textarea {
      @apply  p-5 border-0 border-b-2 border-gray-200 bg-slate-50 focus:border-gray-700;
  }
  .entry-content form input[type=checkbox] {
    @apply w-5 h-5 rounded-full mb-0
  }
    }
    @layer utilities {
        .button {
            padding: 12px 30px;
        }
    }  
    @layer components {
      .hero {
        @apply bg-slate-50 dark:bg-indigo-950;     
       } 
       .hero-container {
        @apply flex flex-col justify-center h-auto max-w-screen-lg px-10 py-20 mx-auto antialiased lg:items-center lg:justify-start lg:flex-col;
       }
       .home-hero-container {
        @apply flex flex-col justify-center max-w-screen-lg px-10 py-20 antialiased lg:mx-auto xl:h-screen lg:flex-col;
       }
       .hero h1 {
        @apply font-extrabold;
       }
      .primary-menu {
          @apply flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 dark:text-white
      }
      ul.primary-menu {
        @apply font-medium flex flex-col md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 
      }
      ul.primary-menu li a {
          @apply  block py-4 pl-3 pr-4 text-lg font-normal text-center text-gray-950 hover:text-indigo-700 hover:underline dark:text-white md:dark:hover:text-indigo-800 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700;
          font-family: 'Gabrito', sans-serif;

      }
      .menu-column {
          @apply flex px-10 justify-center md:justify-start
       }
       ul.footer-menu  {
            @apply  mb-10 lg:mb-0 lg:flex
       }
      ul.footer-menu li a {
         @apply text-sm font-normal text-white hover:text-indigo-500 hover:underline text-left lg:pr-4
      }
      .category-pill {
        @apply mb-5 bg-blue-300 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-blue-300 dark:text-gray-900;
      }
      .banner {
        @apply md:py-4 md:px-16 lg:px-12 bg-slate-100 flex flex-col items-center justify-center max-w-screen-xl mx-auto
      }
      .banner nav{
        @apply w-full md:w-auto
      }
      footer h3, footer h4 {
        @apply py-2 text-lg font-extrabold uppercase lg:py-4 hover:underline;
      }
      .primary-button {
        @apply text-white bg-slate-950 hover:bg-indigo-700 button mr-[1.5rem] rounded-md
      }
      .gray-section {
        @apply bg-gray-50 dark:bg-gray-900;
      }
      .white-section {
        @apply bg-white dark:bg-gray-900;
      }
      .section {
        @apply flex flex-col w-full px-10 py-24 text-center;
      }
      .section-container {
        @apply max-w-screen-lg gap-10 mx-auto my-auto;
      }
      .projects-section-container {
        @apply grid gap-20 mx-auto md:max-w-screen-md lg:max-w-screen-lg sm:grid-cols-2;
      }
      .project-details {
        @apply px-4 py-0;
      }
      .project-details h2, h3 {
        @apply mb-0;
      }
      .project-categories {
        @apply px-3 py-2 mr-2 text-sm leading-[3em] text-white bg-indigo-900 rounded-full dark:bg-gray-700;
      }
      .project-button {
        @apply  inline-flex items-center px-4 py-2 mr-2 rounded-md text-base font-bold text-indigo-950 bg-white border border-indigo-200 rounded-l-lg hover:bg-indigo-200 hover:text-indigo-500 focus:z-10 focus:ring-2 focus:ring-indigo-500 focus:text-indigo-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-indigo-500 dark:focus:text-white
      }
      .section h2 {
        @apply  pb-10 text-4xl font-extrabold tracking-tight uppercase dark:text-white;
      }
      .card {
        @apply p-5 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700;
      }
      .card-container {
        @apply flex flex-wrap justify-between p-20 pb-4 text-left;
      }
      .card h3 a {
        @apply mt-10 mb-5 text-blue-900 hover:underline hover:text-indigo-400;
      }
      .post-card {
        @apply p-10 mb-10 text-left card;
      }
      .post-card hr {
        @apply w-16 h-2 mb-5 bg-indigo-800;
      }
      .post-card header {
        @apply mb-4;
      }
      .post-card-categories {
       @apply px-3 py-2 mr-2 text-sm leading-[3em] text-white bg-indigo-800 rounded-full dark:bg-gray-700;
      }
      .hero .social-links {
        @apply flex items-start justify-start
      }
      .hero .social-links a {
        @apply text-indigo-950 hover:text-indigo-700;
      }
      .bottom-footer {
       @apply pt-20 bg-indigo-950 dark:bg-gray-800;
      } 
      .footer-container {
       @apply flex justify-center max-w-screen-md px-10 mx-auto text-center md:text-left xl:p-0;
      }
      .footer-container p {
        @apply text-lg text-white;
      }
      .footer-container h3 {
        @apply mb-0 text-white;
      }
      footer .social-links {
        @apply flex items-start justify-center sm:justify-start sm:items-start;
      }
      .footer-col-1 {
        @apply p-0 lg:w-1/2;
      }
      .footer-copyright {
        @apply flex items-end justify-center p-5 mx-auto mt-20 mb-0 text-sm text-white bg-slate-950 dark:text-gray-400;
      }
      .footer-col-2 {
        @apply px-20 lg:w-1/2;
      }
      .social-links a {
        @apply pr-2 text-3xl text-white hover:text-indigo-500;
      }
      /* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
      white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
 
    }
